body {
    min-width: 370px;
    margin: 0 auto;
}

.slider_bl {
    width: 97%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* рамка */
    border: solid 1px #ccc;
    border-radius: 20px;
    /*  тень */
    -webkit-box-shadow: 0 10px 15px #dbdbdb;
    -moz-box-shadow: 0 10px 15px #dbdbdb;
    box-shadow: 0 10px 15px #dbdbdb;

}

.slider-wrapper{
    margin: 0 50px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /* Размер стрелок */
    /*width: 50px;*/
    /*height: 100%;*/
    /*  Цвет  стрелок */
    fill:#6E18C0 ;
    border: none;
    background: none;
    outline: none;
}

.prew-button,
.next-button {
    width: 50px;
    height: 50px;
}

.next-button:hover,
.prew-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.inner {
    display: flex;
    overflow: hidden;
    /* ширина картинки */
    width: 400px;
    position: relative;
    box-sizing: border-box;
}

.slider__picture {
    /* ширина картинки */
    width: 400px;
    margin: auto;
    height: auto;
}

.unActiveButton {
    opacity: 0.2;
}

.unActiveButton:hover {
    opacity: 0.2;
    cursor: default;
}

@media (max-width: 768px) {

    .slider-wrapper{
        margin: 0 10px;
    }
    .wrapper {
        justify-content: space-around;
    }
}

@media (max-width: 520px) {

    .slider-wrapper{
        margin: 0 0;
    }
}

@media (max-width: 500px) {

    .slider-wrapper{
        margin: 0 0;
    }

    .inner {
        /* ширина картинки */
        width: 350px;
    }

    .slider__picture {
        /* ширина картинки */
        width: 350px;
        margin: auto;
        height: auto;
    }
    .button {
        /* Размер стрелок */
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 450px) {

    .slider-wrapper{
        margin: 0 0;
    }

    .inner {
        /* ширина картинки */
        width: 300px;
    }

    .slider__picture {
        /* ширина картинки */
        width: 300px;
        margin: auto;
        height: auto;
    }
}

@media (max-width: 400px) {

    .slider-wrapper{
        margin: 0 0;
    }

    .inner {
        /* ширина картинки */
        width: 240px;
    }

    .slider__picture {
        /* ширина картинки */
        width: 240px;
        margin: auto;
        height: auto;
    }

    .button {
        /* Размер стрелок */
        width: 40px;
        height: 40px;
    }

}